<!-- ✅ HEADER SECTION -->
<header class="header">
  <div class="header-content">
    <h1>STUDENT REGISTRATION PORTAL</h1>
  </div>
</header>

<div class="container">
<!-- RIGHT SIDE OUTPUT BOX -->
<div class="output-box" *ngIf="submittedData">
  <h2 style="color: green; font-weight:700;">✅ REGISTERED SUCCESSFULLY</h2>

  <p><strong>Name:</strong> {{ submittedData.fullname }}</p>
  <p><strong>Email:</strong> {{ submittedData.email }}</p>
  <p><strong>Phone:</strong> {{ submittedData.phone }}</p>
  <p><strong>Gender:</strong> {{ submittedData.gender }}</p>
  <p><strong>Course:</strong> {{ submittedData.course }}</p>
  <p><strong>Address:</strong> {{ submittedData.address }}</p>
</div>

  

  <!-- Registration Form Box -->
  <div class="form-box">
    <h2 style="text-align:center; font-size:32px; font-weight:700; color:#060513; letter-spacing:1px;">
  STUDENT REGISTRATION FORM
</h2>
    


    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">

      <!-- Full Name -->
      <div class="form-group">
        <label>Full Name</label>
        <input type="text" formControlName="fullname">
        @if (registrationForm.controls['fullname'].invalid && registrationForm.controls['fullname'].touched) {
          <small class="error">Minimum 3 characters required.</small>
        }
      </div>

      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email">
        @if (registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched) {
          <small class="error">Enter a valid email.</small>
        }
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label>Phone Number</label>
        <input type="number" formControlName="phone">
        @if (registrationForm.controls['phone'].invalid && registrationForm.controls['phone'].touched) {
          <small class="error">Phone must be 10 digits.</small>
        }
      </div>

      <!-- Gender -->
      <div class="form-group">
        <label>Gender</label>
        <div class="gender-box">
          <label><input type="radio" value="Male" formControlName="gender"> Male</label>
          <label><input type="radio" value="Female" formControlName="gender"> Female</label>
          <label><input type="radio" value="Other" formControlName="gender"> Other</label>
        </div>
        @if (registrationForm.controls['gender'].invalid && registrationForm.controls['gender'].touched) {
          <small class="error">Select a gender.</small>
        }
      </div>

      <!-- Course -->
      <div class="form-group">
        <label>Course</label>
        <select formControlName="course">
          <option value="">--Select--</option>
          <option>Angular</option>
          <option>React</option>
          <option>Java</option>
          <option>Python</option>
        </select>
        @if (registrationForm.controls['course'].invalid && registrationForm.controls['course'].touched) {
          <small class="error">Select a course.</small>
        }
      </div>

      <!-- Address -->
      <div class="form-group">
        <label>Address</label>
        <textarea formControlName="address"></textarea>
      </div>

      <!-- Buttons -->
      <div class="button-group">
        <button type="submit" [disabled]="registrationForm.invalid">Register</button>
        <button type="button" class="reset-btn" (click)="resetForm()">Reset</button>
      </div>

    </form>

    <!-- SUCCESS MESSAGE -->
    @if (submittedData) {
    <div class="success-box">
      ✅ <strong>Registration Successful!</strong>
    </div>
    }

  </div>

</div>
